apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: database
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: madhupdevops/k8s-backend:v1
        ports:
        - containerPort: 5000
        envFrom:
        - configMapRef:
            name: postgres-config
        env:
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: postgres-password

